.mat-card-title {
  font-size: 1.1rem !important;
}

/* .iconnav img,
.iconnav img:hover {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.iconnav a {
  text-decoration: none !important;
  font-size: 1rem;
}

.iconnav img {
  width: 140px;
}

.iconnav img:hover {
  width: 160px;
} */

/* Reusable Animation Class */
.iconnav img,
.iconnav img:hover {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* Custom Icon Nav Menu */
.iconnav {
  text-align: center;
  min-height: 195px;
}
.iconnav a {
  text-decoration: none !important;
  color: #65646a !important;
}
.iconnav img {
  /* width: 65%; */
  width: 114px;
  max-width: 140px;
}
.iconnav img:hover {
  /* width: 75%; */
  width: 135px;
  max-width: 160px;
}

/* Vertice Logo Resizer */
.vertice {
  width: 200px;
  height: 52px;
  margin-left: auto;
  margin-right: auto;
}
@media all and (max-width: 770px) {
  .vertice {
    width: 150px;
    height: 39px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media all and (max-width: 450px) {
  .vertice {
    width: 120px;
    height: 31px;
    margin-left: auto;
    margin-right: auto;
  }
}

.sidebar-header {
  height: 70px !important;
}

.mat-list-item-content,
.mat-expansion-panel-header {
  margin: 0;
  font-family: 'Libre Franklin', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  height: 51px !important;
}

.fa-fw {
  width: 2em !important;
}

.mat-expansion-panel {
  box-shadow: none !important;
}

.mat-expansion-panel-header {
  padding-left: 15px !important;
  padding-right: 15px !important;
  font-size: 14px;
}

.mat-expansion-panel-body {
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
}

.mat-nav-list {
  padding-top: 0px !important;
}

.mat-nav-list-item-expansion {
  height: 41px !important;
  padding-left: 24px;
  padding-right: 24px;
}

.title-block {
  padding-bottom: 15px;
  margin-bottom: 30px;
  /* border-bottom: 1px solid #d7dde4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(215, 221, 228); */
  padding-left: 39px;
  padding-right: 39px;
}

.title {
  font-size: 1.45rem;
  font-weight: 400;
  margin-bottom: 2px;
}

.title-description {
  font-size: 0.9rem;
  font-weight: normal;
  color: #7e8e9f;
}

.mat-button {
  border: 1px solid !important;
}
