<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="isHandset ? 'dialog' : 'navigation'" [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
    [opened]="!(isHandset | async)!.matches">
    <mat-toolbar class="sidebar-header">
      <img src="assets/img/healthesystems-logo-KO-notag.svg" width="155">
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item class="active" href="#">Dashboard</a>
      <a mat-list-item href="#">Customers</a>
      <a mat-list-item href="#">Claims</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="header">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="(isHandset | async)!.matches">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img src="assets/img/vertice.svg" class="vertice">
    </mat-toolbar>
    <main-dash></main-dash>
  </mat-sidenav-content>
</mat-sidenav-container>
