<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="isHandset ? 'dialog' : 'navigation'" [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
    [opened]="!(isHandset | async)!.matches">
    <mat-toolbar class="sidebar-header">
      <img src="assets/img/healthesystems-logo-KO-notag.svg" width="155">
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item class="active" href="dashboard">
        <i class="fa fa-home fa-fw"></i>
        Dashboard
      </a>
      <a mat-list-item href="customers">
        <i class="fa fa-th-large fa-fw"></i>
        Customers
      </a>
      <a mat-list-item href="claims">
        <i class="fa fa-chart-area fa-fw"></i>
        Claims
      </a>
      <a mat-list-item href="tables">
        <i class="fas fa-table fa-fw"></i>
        Tables
      </a>
      <a mat-list-item href="forms">
        <i class="fas fa-edit fa-fw"></i>
        Forms
      </a>
      <a mat-list-item href="">
        <i class="fas fa-desktop fa-fw"></i>
        UI Elements
      </a>
      <a mat-list-item href="">
        <i class="fas fa-sitemap fa-fw"></i>
        Menu Levels
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="header">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="(isHandset | async)!.matches">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img src="assets/img/vertice.svg" class="vertice">
    </mat-toolbar>
    <main-dash></main-dash>
  </mat-sidenav-content>
</mat-sidenav-container>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9"
  crossorigin="anonymous">
