.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.mat-card-title {
  font-size: 1.1rem;
  color: #65646a;
}

.img {
  width: 65%;
  max-width: 140px;
}

.a-iconnav {
  text-decoration: none !important;
  text-decoration-line: none !important;
  text-decoration-style: initial !important;
  text-decoration-color: initial !important;
  color: #65646a !important;
  font-size: 1rem;
  font-weight: 400;
  transition: 150ms ease-in-out;
  transform-origin: top;
}

.a-iconnav:hover {
  transform: scale(1.1);
}

.img-iconnav {
  width: 140px;
  max-width: 140px;
}
