<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="340px">

    <mat-grid-tile [colspan]=2 [rowspan]=1>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            My Applications
            <button (click)=toggleAnimation()>Toggle Animation!</button>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Minimize</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content iconnav">
          <mat-grid-list cols="6" rowHeight="220px">
            <mat-grid-tile>
              <a href="customer-manager" [@minimize]="state">
                <img src="assets/img/customer_manager.svg">
                <br> Customer Manager
              </a>
            </mat-grid-tile>
            <mat-grid-tile>
              <a href="claim-manager" [@minimize]="state">
                <img src="assets/img/claims_manager.svg">
                <br> Claims Manager
              </a>
            </mat-grid-tile>
            <mat-grid-tile>
              <a href="fee-sched-load-compare" [@minimize]="state">
                <img src="assets/img/fee_schedule_manager.svg">
                <br> Fee Schedule Manager
              </a>
            </mat-grid-tile>
            <mat-grid-tile>
              <a href="dm-ui" [@minimize]="state">
                <img src="assets/img/ancillary_data_maintenance.svg">
                <br> Ancillary Data Maintenance
              </a>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]=1 [rowspan]=1>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Pending Referrals
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Minimize</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            Referrals
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]=1 [rowspan]=2>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Pending Authorizations
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Minimize</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            Authorizations
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>


    <mat-grid-tile [colspan]=1 [rowspan]=1>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            TODO
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Minimize</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            TODO
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- <mat-grid-tile *ngFor="let card of cards" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <img src="{{card.images}}"> {{card.content}}
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile> -->


  </mat-grid-list>
</div>
